h1,h2,h3,h4,h5,h6 {
  color: $heading-color;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

@include titres {
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: map_get($heading-font-size, h#{$i});
    }
  }
}


h2 { margin: 20px 0; }
p { font-size: $paragraph-font-size; }
