$red: red;
$white: white;
$black: #000;
$skyblue: deepskyblue;

body {
  background-color: $skyblue;
  font-size: 2em;
  color: $black;
}

h1 {
  transform: scale(1, 0.5);
  font-size: 4em;
  color: white;
}

h1:hover {
  transition: color 1s ease;
}

a:hover {
  transition: color 1s ease;
}

figure > div {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 20px;
  background: $white;
}

  #skew {
    transform:skew(35deg);
  }

  #scale {
    transform:scale(1,0.5);
  }
  #rotate {
    transform:rotate(45deg);
  }
  #translate {
    transform:translate(10px, 20px);
  }
  #rotate-skew-scale-translate {
    transform:skew(30deg) scale(1.1,1.1) rotate(40deg) translate(10px, 20px);
  }